<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
</head>

<link rel="stylesheet" href="/StyleSheets/bootstrap.min.css">
<link rel="stylesheet" href="/StyleSheets/index.css">

<body>
    <header class="header mb-5">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Restaurants</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
            </ul>
        </nav>

    </header>